html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// login page styles
.login-wrapper {
  background-image: url('../../images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

// brand logo
.brand-logo {
  width: 60px;
}

// login-form
.login-form {
  border-radius: $border-radius;
  max-width: 450px;
}

.registration-form {
  border-radius: $border-radius;
  max-width: 800px;
}

.profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
