html,
body {
  height: 100%;
  width: 100%;
}

// login page styles
.login-wrapper {
  background-image: url('../../images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

// brand logo
.brand-logo {
  width: 60px;
}

// login-form
.login-form {
  border-radius: $border-radius;
  width: 100%;
  max-width: 450px;
}

