$font-family-base: 'Roboto', sans-serif;
$font-size-sm: 0.875rem;
$border-radius: 4px;
$font-weight-semibold: 600;
$btn-padding-y: 8px;
$btn-padding-x: 40px;
$btn-font-size: 0.875rem;
$input-placeholder-color: #ADB5BD;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1600px)
