<div class="container">
  <div class="row h-100">
    <div class="col-6">
      <div class="d-flex h-100 align-items-center">
        <figure class="brand-logo m-0">
          <img class="img-fluid" src="../../assets/images/brand-logo.svg" alt="">
        </figure>
        <h1 class="text-white ms-1 m-0">1Rhythm</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex h-100 align-items-center">
        <div class="login-form bg-white p-5">
          <h6 class="fw-semibold "><small>WELCOME</small></h6>
          <h2 class="fw-semibold login-heading">Login to Your Account</h2>
          <p>Create an Account? <a href="#" class="text-decoration-none fw-semibold">Sign Up</a></p>
          <form class="mt-5">
            <div class="mb-4">
              <label for="email" class="form-label">Email ID <span class="text-danger">*</span></label>
              <input type="email" id="email" class="form-control is-invalid">
              <div class="invalid-feedback d-block">
                Please choose a username.
              </div>
            </div>
            <div class="mb-5">
              <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
              <input type="password" id="password" class="form-control">
            </div>
            <div>
              <button type="submit" class="btn text-white btn-signin border-0">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
